$primary-color: #3498db; 

.square {
    background-color: $primary-color;
    width: 100px;
    height: 100px;
    
  }
  
  .circle {
    border: 5px solid $primary-color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  h1 {
    color: $primary-color;
  }
  